body,
html {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    background-color: #e6e6e6;
}

* {
    box-sizing: border-box;
}

main,
header,
footer {
    width: 80%;
    margin: 2em auto;
}

header nav {
    display: flex;
    gap: 20px;
    background-color: #6bada7;
}

a {
    color: rgb(255, 255, 255);
    border: 0;
    margin-block: 0.5em;
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

a:hover {
    color: #87dcd5;
    text-decoration: underline;
}

#sign-up-here {
    color:#7f7fd5;
}

button {
    color: #6bada7;
    border: 0;
    margin-block: 0.5em;
    display: inline-block;
    text-decoration: none;
    padding: 0.5em 1em;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #6bada7;
    border-radius: 25px;
    font-size: 1em;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: #6bada7;
    color: #fff;
}

.blogstyle {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 5px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 2px #ccc;
}

.Sights {
    background-image: linear-gradient(to bottom, #91eae4, #86a8e7, #7f7fd5);
    padding: 20px;
    margin-bottom: 5px;
    border-radius: 25px;
    color: #fff;
}

.Lodgings {
    background-image: linear-gradient(to bottom, #f5af19, #f12711, #f00);
    padding: 20px;
    margin-bottom: 5px;
    border-radius: 25px;
    color: #fff;
}

.Safety {
    background-image: linear-gradient(to bottom, #f7d794, #f5afcb, #f12711);
    padding: 20px;
    margin-bottom: 5px;
    border-radius: 25px;
    color: #fff;
}

.Food {
    background-image: linear-gradient(to bottom, #a8edea, #fed6e3, #f5afcb);
    padding: 20px;
    margin-bottom: 5px;
    border-radius: 25px;
    color: #fff;
}

.spacer {
    border: 0;
    margin-block: 0.5em;
    display: block;
    padding-left: 0.5em;
}

#welcome {
    border: 0;
    margin-block: 0.5em;
    display: block;
    padding-left: 0.5em;
}

.welcomeforms {
    border: 0;
    margin-block: 0.5em;
    display: block;
}

#add_quotes {
    padding: 0.5em 1em;
    cursor: pointer;
    background-color: rgb(186, 233, 158);
    font-size: 1.4em;
}

input,
textarea {
    padding: 0.5em 1em;
}

form>div {
    margin-block: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

form label,
form input,
form textarea {
    width: 100%;
}

form label {
    font-weight: bold;
}

form .error {
    background-color: rgb(250, 170, 164);
    border: 5px solid rgb(187, 76, 75);
    padding: 1em 2em;
    color: rgb(38, 28, 28);
}