{% extends 'base.html' %}
{% block content %}
<form method="post" action="/blog/{{ blog_post['id'] }}"> 
    <h2>Edit Post</h2>

    <div>
        <label for="blog_post">Blog Post</label>
        <input id="blog_post" name="blog_post" type="text" value= "{{blog_post['blog_post']}}" />
    </div>
    
    <div>
        <label for="blog_title">Post Title</label>
        <input id="blog_title" name="blog_title" type="text" value= "{{blog_post['blog_title']}}" />
    </div>
    <div>
    <label for="destination">Destination</label>
    <select id="destination" name="destination">
        <option value="Kyrgyzstan">Kyrgyzstan</option>
        <option value="Kazakhstan">Kazakhstan</option>
        <option value="Tajikistan">Tajikistan</option>
    </select>
    </div>
    
    <div>
        <label for="tags">Tags</label>
        <input id="tags" name="tags" type="text" />
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>

{% endblock content %}

