{% extends 'base.html' %}
{% block content %}
<form method="post" action="/blog/{{ blog_post['id'] }}"> 
    <h2>Edit Post</h2>

    <div>
        <label for="blog_post">Blog Post</label>
        <input id="blog_post" name="blog_post" type="text" value= "{{blog_post['blog_post']}}" />
    </div>
    
    <div>
        <label for="blog_title">Destination</label>
        <input id="blog_title" name="blog_title" type="text" value= "{{blog_post['blog_title']}}" />
    </div>
    <div>
    <label for="topics">Topic</label>
    <select id="topics" name="topics">
        <option value="Sights">Sights</option>
        <option value="Food">Food</option>
        <option value="Safety">Safety</option>
        <option value="Lodgings">Lodgings</option>
    </select>
    </div>
    
    <div>
        <button type="submit" class="button">Save</button>
    </div>
</form>

{% endblock content %}

