{% extends "base.html" %}
{% block content %}

<h2>Community Stash</h2>

{% for each_post in all_blogposts %}

<div class="{{each_post['destination']}}">
    <h3>{{each_post["blog_title"]}}</h3>
    <quote>"{{each_post['blog_post']}}"</quote>
    <h3>Posted by {{each_post["user_name"]}}</h3>

{% if session.get('user_name') != each_post["user_name"] %} 
<form method="post" action="/blog">
    <div>
        <input id="blog_post" name="blog_post" type='hidden' value = "{{each_post['blog_post']}}" />
    </div>
    
    <div>
        <input id="blog_title" name="blog_title" type='hidden' value = "{{each_post['blog_title']}}" />
    </div>

    <div>
        <button id ="add_post" type="submit" class="button">Stash</button>
    </div>
</form>
{% endif %}

</div>

{% endfor %}

{% endblock content %}

